* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* max-width: 100vh; */
  /* background-color: rgb(68, 28, 105); */
}
.bold{
  font-weight: bold;
}
.justify{
  text-align: left;
}
.checked {
  color: orange;
}
/* //////  Header ///// */
.nav-item{
  font-size: 18px;
}
.footer-icon i{
  font-size: 20px;
  margin: 0px 15px 0px 15px;
}

/* /////// Body   ///// */
.carousel-1,.carousel-2, .carousel-3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/carousel-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.carousel-2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../images/carousel-2.jpg);
}
.carousel-3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../images/carousel-3.jpg);
}
.special-img{
  margin-bottom: -67px;
}
.carousel-profile{
  margin-bottom: 70px;
  
}
.buy-now{
  background-color: red;
  width: 100px;
  color: white;
  border: none;
  border-radius: 10px;
}
.view-all{
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
}
.bg-lightGray{
  background-color: lightgray;
}
.b-radius{
  border-radius: 10px;
}
/* /////// Footer  ///// */

.footer-heading{
  color: red;
}
footer{
  color: white;
}
.footer-img img{
  width: 50px;
  margin-right: 10px;
}


@media screen and (max-width: 768px){
  .section-6 img{
    width: 65px;
  }
  .zzz{
    font-size: 20px;
  }
}






.row {
  --bs-gutter-x: rem;
}
